@model RoyalHalls1.Models.Reservation
@{
    ViewData["Title"] = "Approved";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.AP = ViewBag.adminProfile;

}


<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Approved</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Manage Halls</h3>
                            <p class="text-muted">Halls Info <code></code></p>
                            <div class="table-responsive">  


<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.user.Username 
        </dd >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.user.Email
        </dd >

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Halls.HName)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.hall.HName
        </dd >
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Halls.HAddress)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.hall.HAddress
        </dd >
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Halls.HPrice)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.hall.HPrice;
        </dd >
        

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datefrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datefrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateto)
        </dd>

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        
        
    </dl>
    
    <form asp-action="Approved">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Approve" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
        @Html.ValidationSummary(true);

    </form>
</div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
</div>


