
@model IEnumerable<RoyalHalls1.Models.User>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewBag.AP = ViewBag.adminProfile;

}



<div class="page-wrapper"> 
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <div class="container-fluid">
           
            <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">

                        <div class="white-box analytics-info">
                            <h3 class="box-title">The number of registed Users</h3>
                            <br />
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-success">@ViewBag.NumOfUsers</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">the number of rooms that have been booked</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash2"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-purple">@ViewBag.NumOfBooked</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">the number of rooms that are not booked</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash3"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-info">@ViewBag.NumOfNonBookedHalls</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
               
                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Details of Registed Users</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">@Html.DisplayNameFor(model => model.Fname)</th>
                                            <th class="border-top-0">@Html.DisplayNameFor(model => model.Lname)</th>
                                            <th class="border-top-0">@Html.DisplayNameFor(model => model.Username)</th>
                                            <th class="border-top-0">@Html.DisplayNameFor(model => model.Email)</th>
                                            <th class="border-top-0">@Html.DisplayNameFor(model => model.Photo)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     
                                    @foreach (var item in Model )
                                    
                                   {
                                       <tr>
                                            <td></td>
                                            <td class="txt-oflo">@Html.DisplayFor(modelitem=>item.Fname)</td>
                                            <td>@Html.DisplayFor(modelitem=>item.Lname)</td>
                                            <td class="txt-oflo">@Html.DisplayFor(modelitem=>item.Username)</td>
                                            <td><span class="text-success">@Html.DisplayFor(modelitem=>item.Email)</span></td>
                                            <td> <img src=@Url.Content("~/Image/" + item.Photo) 
                                                asp-append-version ="true" style="border-radius:20%;" width="100" height="100" />
                                            </td>
                                        </tr>
                                       
                                   }
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
<!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        

